Source: openvas-smb
Section: admin
Priority: optional
Maintainer: Mohammad Razavi <mrazavi64@gmail.com>
Build-Depends: debhelper (>= 10), cmake, pkg-config, gcc-mingw-w64, libgnutls28-dev, heimdal-dev, libpopt-dev, libglib2.0-dev
Standards-Version: 4.1.2
Homepage: https://community.greenbone.net/
Vcs-Git: https://github.com/admirito/openvas-smb.git
Vcs-Browser: https://github.com/admirito/openvas-smb

Package: openvas-smb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopenvas-wincmd1 (= ${binary:Version}), libopenvas-wmiclient1 (= ${binary:Version})
Description: remote network security auditor - smb
 The Greenbone Vulnerability Management Solution (previously known as
 Open Vulnerability Assessment System: OpenVAS) is a modular security
 auditing tool, used for testing remote systems for vulnerabilities
 that should be fixed.
 .
 This package contains the Greenbone Vulnerability Management "smb"
 module for the OpenVAS Scanner. It includes libraries
 openvas-wmiclient/openvas-wincmd to interface with Microsoft Windows
 Systems through the Windows Management Instrumentation API and a
 "winexe" binary to execute processes remotely on that system.

Package: libopenvas-smb-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libopenvas-wincmd1 (= ${binary:Version}), libopenvas-wmiclient1 (= ${binary:Version}), ${misc:Depends}
Description: remote network security auditor - smb libraries dev
 The Greenbone Vulnerability Management Solution (previously known as
 Open Vulnerability Assessment System: OpenVAS) is a modular security
 auditing tool, used for testing remote systems for vulnerabilities
 that should be fixed.
 .
 This package contains the Greenbone Vulnerability Management "smb"
 module for the OpenVAS Scanner. It includes development libraries
 openvas-wmiclient/openvas-wincmd to interface with Microsoft Windows
 Systems through the Windows Management Instrumentation API.

Package: libopenvas-wincmd1
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: remote network security auditor - smb wincmd library
 The Greenbone Vulnerability Management Solution (previously known as
 Open Vulnerability Assessment System: OpenVAS) is a modular security
 auditing tool, used for testing remote systems for vulnerabilities
 that should be fixed.
 .
 This package contains the Greenbone Vulnerability Management "smb"
 module for the OpenVAS Scanner. It includes openvas-wincmd library to
 interface with Microsoft Windows Systems through the Windows
 Management Instrumentation API.

Package: libopenvas-wmiclient1
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: remote network security auditor - smb wincmd library
 The Greenbone Vulnerability Management Solution (previously known as
 Open Vulnerability Assessment System: OpenVAS) is a modular security
 auditing tool, used for testing remote systems for vulnerabilities
 that should be fixed.
 .
 This package contains the Greenbone Vulnerability Management "smb"
 module for the OpenVAS Scanner. It includes openvas-wmiclient library
 to interface with Microsoft Windows Systems through the Windows
 Management Instrumentation API.
